<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Food ordering</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" />
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet">
<link
	href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css"
	rel="stylesheet">


<!-- Custom CSS -->

<link rel="stylesheet"
	href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href='http://fonts.googleapis.com/css?family=Droid+Sans'
	rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Architects+Daughter'
	rel='stylesheet' type='text/css'>

</head>
<body>
	<div class="container-fluid">
		<br> <br>
		<div class="col-md-10 col-md-offset-1">
			<nav class="navbar" style="background-color: #f9f9f9;">
				<div class="col-md-12">
					<div class="navbar-header">
						<a class="navbar-brand" th:href="${'/'}" style="font-size: 25px; font-family: 'Architects Daughter', cursive;">Food ordering</a>
					</div>
					<ul class="nav navbar-nav navbar-right">
						<li sec:authorize="isAnonymous()"><a th:href="${'/register'}"><span
								class="glyphicon glyphicon-user"></span> Sign Up</a></li>
						<li sec:authorize="isAnonymous()"><a th:href="${'/login'}"><span
								class="glyphicon glyphicon-log-in"></span> Login</a></li>
						<li sec:authorize="isAuthenticated()"><a
							th:href="${'/logout'}"><span
								class="glyphicon glyphicon-log-out"></span> Logout</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<br> <br> <br>
		<div class="col-md-10 col-md-offset-1">
			<br>
			<div style="font-family: 'Architects Daughter', cursive">
				<h2>
					<b>AVAILABLE RESTAURANTS</b>
				</h2>
			</div>

			<form th:action="@{/admin/add-restaurant}" method="get"
				sec:authorize="isAuthenticated()" class="center">
				<br />
				<button class="btn btn-lg btn btn-primary" type="Submit"
					style="font-size: 25px; font-family: 'Architects Daughter', cursive; text-align: center;">Add
					new restaurant</button>
				<br /> <br />
			</form>

			<table class="table table-light table-hover table-bordered"
				id="restaurantsTable">
				<thead>
					<tr
						style="color: #f2f2f2; background-color: #669999; font-size: large">
						<th>Name</th>
						<th>Email</th>
						<th>Address</th>
						<th>Phone number</th>
						<th>Menu url</th>
						<th style="text-align: center;">View restaurant details</th>
						<th style="text-align: center;" sec:authorize="isAnonymous()">Create
							new group order</th>
						<th style="text-align: center;" sec:authorize="isAuthenticated()">View
							all group orders</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="restaurant : ${restaurants}"
						style="background-color: #f8f9fa;">
						<td th:utext="${restaurant.name}"></td>
						<td th:utext="${restaurant.email}"></td>
						<td th:utext="${restaurant.address}"></td>
						<td th:utext="${restaurant.phoneNumber}"></td>
						<td><a th:href="${restaurant.menuUrl}"
							th:text="${restaurant.menuUrl}" th:target="_blank"></a></td>
						<td style="text-align: center;"><a
							th:href="${'/restaurant-details/'} + ${restaurant.id}"
							th:value="${restaurant.id}"><span
								class="glyphicon glyphicon-info-sign"></span> View restaurant
								details</a></td>
						<td style="text-align: center;" sec:authorize="isAnonymous()"><a
							th:href="${'/add-group-order/'} + ${restaurant.id}"
							th:value="${restaurant.id}">Create new group order</a></td>
						<td style="text-align: center;" sec:authorize="isAuthenticated()"><a
							th:href="${'/admin/active-group-orders/' + restaurant.id}"
							th:value="${restaurant.id}"><span
								class="glyphicon glyphicon-list-alt"></span> View all group
								orders</a></td>
					</tr>
				</tbody>
				<tfoot>
					<tr
						style="color: #f2f2f2; background-color: #669999; font-size: large">
						<th>Name</th>
						<th>Email</th>
						<th>Address</th>
						<th>Phone number</th>
						<th>Menu url</th>
						<th style="text-align: center;">View restaurant details</th>
						<th style="text-align: center;" sec:authorize="isAnonymous()">Create
							new group order</th>
						<th style="text-align: center;" sec:authorize="isAuthenticated()">View
							all group orders</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script
		src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap.min.js"></script>
	<script>
		$('#restaurantsTable').dataTable();
	</script>

</body>
</html>